{
    "test_bed":
    [
        {
            "name": "VtsAppBluetooth",
            "AndroidDevice":
            [
                {
                    "enable_sl4a": true,
                    "enable_sl4a_ed": true,
                    "enable_vts_agent": false
                },
                {
                    "enable_sl4a": true,
                    "enable_sl4a_ed": true,
                    "enable_vts_agent": false
                }
            ]
        }
    ],
    "aware_default_power_mode": "INTERACTIVE"
}
